.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    color: gray;
    padding: 1rem 0;
    width: 100%;
    box-sizing: border-box;
}

.footer-logo {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-left: var(--spacing);
}

.footer-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: var(--spacing);
}

.hover-pointer:hover {
    cursor: pointer;
}

.footer-link {
    margin-left: 2rem;
}

@media screen and (max-width: 1052px) {
    .footer-link {
        margin-left: 15px;
    }
}