:root {
    --spacing: 10rem;
}

@font-face {
    font-family: 'BebasNeue';
    src: url('../public/BebasNeue-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    background-image: linear-gradient(#B1E6ED, #6FA9D8);
    background-repeat: no-repeat;
}

html { min-height: 100%; }
h1, h3, body { margin: 0px; }
h1 { font-size: 150px; }
h3 { font-size: 50px; }
p, a { font-family: 'DM Sans', sans-serif; }

a {
    color: gray;
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    height: 100dvh;
    position: relative;
    overflow-x: hidden;
}

.content-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    width: 100%;
    position: relative;
}

.bg-mountain {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    object-position: bottom;
    pointer-events: none;
    transform: scale(1.02); 
    transform-origin: bottom center;
}

.content-left {
    display: flex;
    flex-direction: column;
    margin-left: var(--spacing);
    margin-bottom: var(--spacing);
}

.content-right {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: var(--spacing);
    margin-bottom: var(--spacing);
}

.content-logo {
    border-radius: 15%;
    margin-top: auto;
    width: 300px;
    height: 300px;
    filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.3));
    will-change: filter; 
}

.title {
    color: white;
    font-family: 'BebasNeue';
    margin-top: auto;
}

.description {
    word-wrap: 80;
    color: white;
}

.download-links {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

@media screen and (max-width: 1052px) {
    :root {
        --spacing: 2rem;
    }

    .content-container {
        flex-direction: column-reverse;
        align-items: center; 
        justify-content: center;
    }

    .content-left, .content-right {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 2rem;
    }

    .content-logo {
        margin-top: 0; 
    }

    .title {
        margin-top: 0;
    }
}